.guides {
  padding-left: 1%;
  padding-right: 1%;
  margin: 0 auto;
  background-color: #0e0e0e;
  display: block;
  color: #dfcf99;
  height: auto;
  font-size: 20;
  border-left: 2px solid #2c2c2c;
  border-right: 2px solid #2c2c2c;
  border-bottom: 2px solid #2c2c2c;

}

.guides p {
  text-align: left;
}

#Class,
#Start-Playing,
#Gems,
#Passives,
#Quest,
#Ranks,
#Defense,
#Damage,
#Acts,
#Maps,
#Ascendancy,
#Currency,
#Crafting,
#Events,
#Trading,
#Commands {
  display: block;
  text-align: center !important;
}
