.guides {
  padding-left: 1%;
  padding-right: 1%;
  margin: 0 auto;
  background-color: #0e0e0e;
  display: block;
  color: #fff5d4;
  height: auto;
  font-size: 20;
  border-left: 2px solid #2c2c2c;
  border-right: 2px solid #2c2c2c;
  border-bottom: 2px solid #2c2c2c;
  background-image: url(https://www.transparenttextures.com/patterns/diagmonds.png);
}

.guides p {
  text-align: left;
}

#Class,
#Start-Playing,
#Gems,
#Passives,
#Quest,
#Ranks,
#Defences,
#Damage,
#Acts,
#Maps,
#Ascendancy,
#Currency,
#Crafting,
#Events,
#Trading,
#Commands,
#Github,
#WhyGithub,
#Video {
  display: block;
  text-align: center !important;
}

.text {
  color: #dfcf99 !important;
}

.text h1 {
  color: #dfcf99 !important;
}

.link {
  color: #ffe58e !important;
  text-decoration: none;
}

.link:hover {
  color: #ffffff !important;
}

.text h1:hover {
  color: azure !important;
}

.textBold {
  color: azure !important;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #2c2c2c !important;
  background-color: #0e0e0e;
  text-align: left;
  padding: 8px;
}


.guides td a{
  color: azure !important;
  font-weight: bold;
  }

.video-js{
  margin: auto !important;
    margin-top: 5% !important;
    margin: auto !important;
    margin-top: 5% !important;
    width: 100%;
    height: 600px;
    border: #2c2c2c 1px solid  ;
}

.vjs-big-play-button{
  top: 25 !important;
  left: 25 !important;
}