#Character,
#First-Battle,
#Gems,
#Items,
#Gear,
#Defanse,
#Chapters,
#Trading,
#Commands {
    padding: 1%;
    font-size: 20;
    text-align: center;
}

.guides p,
a,
h1 {
    padding-left: 1%;
    text-align: left;
}

.guides {
    margin: 0 auto;
    background-color: #0E0E0E;
    display: block;
    color: #a38d6d;
    height: 30%;
    font-size: 20;
    border-left: 2px solid #2C2C2C;
    border-right: 2px solid #2C2C2C;
    border-bottom: 2px solid #2C2C2C;
    z-index: 2;
}