.guides {
  padding-left: 1%;
  padding-right: 1%;
  margin: 0 auto;
  background-color: #0e0e0e;
  display: block;
  color: #fff5d4;
  height: auto;
  font-size: 20;
  border-left: 2px solid #2c2c2c;
  border-right: 2px solid #2c2c2c;
  border-bottom: 2px solid #2c2c2c;
  background-image: url(https://www.transparenttextures.com/patterns/diagmonds.png);
}

.guides p {
  text-align: left;
}

#Class,
#Start-Playing,
#Gems,
#Passives,
#Quest,
#Ranks,
#Defences,
#Damage,
#Acts,
#Maps,
#Ascendancy,
#Currency,
#Crafting,
#Events,
#Trading,
#Commands {
  display: block;
  text-align: center !important;
}

.text {
  color: #dfcf99 !important;
}

.text h1 {
  color: #dfcf99 !important;
}

.link {
  color: #ffe58e !important;
  text-decoration: none;
}

.link:hover {
  color: #ffffff !important;
}

.text h1:hover {
  color: azure !important;
}

.textBold {
  color: azure !important;
}