body {
  background-image: linear-gradient(
    to left,
    rgb(148, 12, 12) 0%,
    rgb(82 33 98) 50% 50%,
    rgb(0, 212, 255) 100%
  );
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  opacity: 0.94;
  padding-top: 58px;
}

.navColors {
  color: #dfcf99 !important;
}

.navColors:hover {
  color: azure !important;
}

.guideGrey {
  background-color: #0e0e0e !important;
}

.resButton {
  background-color: #dfcf99 !important;
}

.resButton:hover {
  background-color: azure !important;
}

.bottomBorders {
  border-bottom: 2px solid #2c2c2c;
}

.rightBorders {
  border-right: 2px solid #2c2c2c;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0e0e0e;
}

::-webkit-scrollbar-thumb {
  background: #dfcf99;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: azure;
}

.backgroundChpaters {
  background: url(/Images/Campaign/ch1.PNG) no-repeat 0% 0%,
    url(/Images/Campaign/ch2.PNG) no-repeat 0% 4%,
    url(/Images/Campaign/ch3.PNG) no-repeat 0% 8%,
    url(/Images/Campaign/ch4.PNG) no-repeat 0% 12%,
    url(/Images/Campaign/ch5.PNG) no-repeat 0% 16%,
    url(/Images/Campaign/ch6.PNG) no-repeat 0% 20%,
    url(/Images/Campaign/ch7.PNG) no-repeat 0% 24%,
    url(/Images/Campaign/ch8.PNG) no-repeat 0% 28%,
    url(/Images/Campaign/ch9.PNG) no-repeat 0% 32%,
    url(/Images/Campaign/ch10.PNG) no-repeat 0% 36%,
    url(/Images/Campaign/ch9.PNG) no-repeat 0% 40%,
    url(/Images/Campaign/ch8.PNG) no-repeat 0% 44%,
    url(/Images/Campaign/ch7.PNG) no-repeat 0% 48%,
    url(/Images/Campaign/ch6.PNG) no-repeat 0% 52%,
    url(/Images/Campaign/ch5.PNG) no-repeat 0% 56%,
    url(/Images/Campaign/ch4.PNG) no-repeat 0% 60%,
    url(/Images/Campaign/ch3.PNG) no-repeat 0% 64%,
    url(/Images/Campaign/ch2.PNG) no-repeat 0% 68%,
    url(/Images/Campaign/ch1.PNG) no-repeat 0% 72%,
    url(/Images/Campaign/ch2.PNG) no-repeat 0% 76%,
    url(/Images/Campaign/ch3.PNG) no-repeat 0% 80%,
    url(/Images/Campaign/ch4.PNG) no-repeat 0% 84%,
    url(/Images/Campaign/ch5.PNG) no-repeat 0% 88%,
    url(/Images/Campaign/ch6.PNG) no-repeat 0% 92%,
    url(/Images/Campaign/ch7.PNG) no-repeat 0% 96%,
    url(/Images/Campaign/ch8.PNG) no-repeat 0% 100%;
  background-size: contain;
}

html{
  scroll-padding-top: 59px;
}