body {
  background-image: linear-gradient(
    to left,
    rgb(148, 12, 12) 0%,
    rgb(0, 0, 0) 50% 50%,
    rgb(0, 212, 255) 100%
  );
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  opacity: 0.94;
}

.text {
  color: #a38d6d !important;
}

.text h1 {
  color: #dfcf99 !important;
}

.text h1:hover {
  color: azure !important;
}

.navColors {
  color: #a38d6d !important;
}

.navColors:hover {
  color: #dfcf99 !important;
}

.guideGrey {
  background-color: #0e0e0e !important;
}

.resButton {
  background-color: #a38d6d !important;
}

.resButton:hover {
  background-color: #dfcf99 !important;
}

.bottomBorders {
  border-bottom: 2px solid #2c2c2c;
}

.rightBorders{
  border-right: 2px solid #2c2c2c;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0e0e0e;
}

::-webkit-scrollbar-thumb {
  background: #a38d6d;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dfcf99;
}
