body {
  background-image: linear-gradient(
    to left,
    rgb(148, 12, 12) 0%,
    rgb(82 33 98) 50% 50%,
    rgb(0, 212, 255) 100%
  );
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  opacity: 0.94;
}

.navColors {
  color: #dfcf99 !important;
}

.navColors:hover {
  color: azure !important;
}

.guideGrey {
  background-color: #0e0e0e !important;
}

.resButton {
  background-color: #dfcf99 !important;
}

.resButton:hover {
  background-color: azure !important;
}

.bottomBorders {
  border-bottom: 2px solid #2c2c2c;
}

.rightBorders {
  border-right: 2px solid #2c2c2c;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0e0e0e;
}

::-webkit-scrollbar-thumb {
  background: #dfcf99;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: azure;
}

.backgroundChpaters {
  background: url(/Images/Campaign/ch1.PNG) no-repeat 0% 0%,
    url(/Images/Campaign/ch2.PNG) no-repeat 0% 5%,
    url(/Images/Campaign/ch3.PNG) no-repeat 0% 10%,
    url(/Images/Campaign/ch4.PNG) no-repeat 0% 15%,
    url(/Images/Campaign/ch5.PNG) no-repeat 0% 20%,
    url(/Images/Campaign/ch6.PNG) no-repeat 0% 25%,
    url(/Images/Campaign/ch7.PNG) no-repeat 0% 30%,
    url(/Images/Campaign/ch8.PNG) no-repeat 0% 35%,
    url(/Images/Campaign/ch9.PNG) no-repeat 0% 40%,
    url(/Images/Campaign/ch10.PNG) no-repeat 0% 45%,
    url(/Images/Campaign/ch9.PNG) no-repeat 0% 50%,
    url(/Images/Campaign/ch8.PNG) no-repeat 0% 55%,
    url(/Images/Campaign/ch7.PNG) no-repeat 0% 60%,
    url(/Images/Campaign/ch6.PNG) no-repeat 0% 65%,
    url(/Images/Campaign/ch5.PNG) no-repeat 0% 70%,
    url(/Images/Campaign/ch4.PNG) no-repeat 0% 75%,
    url(/Images/Campaign/ch3.PNG) no-repeat 0% 80%,
    url(/Images/Campaign/ch2.PNG) no-repeat 0% 85%,
    url(/Images/Campaign/ch1.PNG) no-repeat 0% 90%,
    url(/Images/Campaign/ch2.PNG) no-repeat 0% 95%,
    url(/Images/Campaign/ch3.PNG) no-repeat 0% 100%;
  background-size: contain;
}
