body {
    background-image: linear-gradient(to left, rgb(148, 12, 12) 0%, rgb(0, 0, 0) 50% 50%, rgb(0, 212, 255) 100%);
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    text-align: center;
    opacity: 0.94;
}

.text {
    font-size: 17;
    color: #A38D6D;
}

.text h1 {
    color: #dfcf99;
    font-size: 18;
}

.text h1:hover {
    color: azure;
}

.text a:hover {
    color: azure;
}

