.Strength {
  color: rgb(255, 51, 0) !important;
  text-decoration: none;
}

.Intelligence {
  color: rgb(0, 80, 252) !important;
  text-decoration: none;
}

.Dexterity {
  color: rgb(8, 214, 8) !important;
  text-decoration: none;
}

.PathImages {
  display: flex;
  flex-direction: column;
}

.AllAtributes {
  color: rgb(177, 177, 177) !important;
  text-decoration: none;
}

.test{
  max-width: 100%;
  height: 100%;
}