.Strength {
  color: rgb(255, 51, 0) !important;
  text-decoration: none;
}

.Intelligence {
  color: rgb(0, 80, 252) !important;
  text-decoration: none;
}

.Dexterity {
  color: rgb(8, 214, 8) !important;
  text-decoration: none;
}

.AllAtributes {
  color: rgb(177, 177, 177) !important;
  text-decoration: none;
}

.PathImages {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border: 1px solid #2c2c2c;
  margin: 0 auto;
}

.Common{
color: rgb(219, 217, 217);
text-decoration: none;
}

.Magic{
color: rgb(138, 111, 255);
text-decoration: none;
}

.Rare{
color: rgb(247, 206, 94);
text-decoration: none;
}

.Uniqe{
color: rgb(233, 121, 17);
text-decoration: none;
}

.Ward{
  color: rgb(255, 187, 0);
  text-decoration: none;
}

.Chaos{
  color: blueviolet;
  text-decoration: none;
}

.Energy {
  color: rgb(0, 151, 252) !important;
  text-decoration: none;
}

.Gems {
  color: rgb(0, 181, 252) !important;
  text-decoration: none;
}

.Poision {
  color: rgb(23, 143, 12) !important;
  text-decoration: none;
}

.Bleed {
  color: rgb(165, 0, 0) !important;
  text-decoration: none;
}

.corrupted {
  color: rgb(165, 0, 0) !important;
  text-decoration: none;
}

.PathImagesSmall {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 0 auto;
}