.Strength{
    color: rgb(255, 51, 0) !important;
    text-decoration: none;
}

.Dexterity{
    color: rgb(8, 214, 8) !important;
    text-decoration: none;
}

.Intelligence{
    color: rgb(55, 0, 252) !important;
    text-decoration: none;
}