.Strength {
  color: rgb(255, 51, 0) !important;
  text-decoration: none;
}

.Intelligence {
  color: rgb(0, 80, 252) !important;
  text-decoration: none;
}

.Dexterity {
  color: rgb(8, 214, 8) !important;
  text-decoration: none;
}

.AllAtributes {
  color: rgb(177, 177, 177) !important;
  text-decoration: none;
}

.PathImages {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border: 1px solid #2c2c2c;
}

.Common{
color: rgb(219, 217, 217);
text-decoration: none;
}

.Magic{
color: rgb(138, 111, 255);
text-decoration: none;
}

.Rare{
color: rgb(247, 206, 94);
text-decoration: none;
}

.Uniqe{
color: rgb(233, 121, 17);
text-decoration: none;
}